@font-face{
    font-family: "MontsBold";
    src: url("fonts/Montserrat-Bold.ttf") format("ttf");
    font-style: normal;
    font-weight: bold;
}
@font-face{
    font-family: "RobotReg";
    src: url("fonts/Roboto-Regular.ttf") format("ttf");
    font-style: normal;
    font-weight: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
a{
    display: inline-block;
}
.form__inner{
    background-image: url(../img/background.png);
    background-position: center;
    background-size: cover;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.form__overlay{
    position: absolute;
    background-color: rgb(0, 40, 85, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 30px 0;
}
.form__block{
    height: 820px;
    width: 920px;
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    background-color: #fff;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin: 100px auto 0px auto;
    position: relative;
}

.close-popup__btn{
    width: 35px;
    height: 35px;
    background-color:#e10101 ;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position:absolute;
    top: -16px;
    left: 451px;
}
.header__list{
    display: flex;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    padding: 65px 0 15px 0;
}
.header__item{
    margin-right: 33px;
}
.header__item:last-child{
    margin-right: none;
}
.header__link{
    text-decoration: none;
    color: #b8b9b9;
    font-size: 12px;
    line-height: 12px;
}
.header__title{
    font-family: "MontsBold" , sans-serif;
    font-weight: 800;
    color: #0e1010;
    font-size: 38px;
    line-height: 36px;
    text-align: center;
    padding-bottom: 67px;
    position: relative;
}
.header__title::before{
    content:"";
    background-image: url(../img/wavy-line.png);
    display: block;
    height: 8px;
    width: 60px;
    position: absolute;
    top: -70px;
    left: 433px;
}
.header__title::after{
    content:"";
    background-image: url(../img/wavy-line.png);
    display: block;
    height: 8px;
    width: 60px;
    position: absolute;
    top: 60px;
    left: 433px;
}
.form__top{
    display: flex;
    flex-direction: column;
    padding: 50px 210px 25px;
}
.top__form{
    font-family: "RobotReg" , sans-serif;
    color: #ebebeb;
    font-size: 18px;
    line-height: 20px;
    width: 499px;
    height: 33px;
    padding-left: 28px;
    margin-bottom: 25px;
    border: 2px solid #ebebeb;
} 
.top__form:last-child{
    margin-bottom: none;
}
.top__form:hover{
    background-color: #d3e6f4;
    color: #5a5b5b;
    border: 2px solid #b3cbda;
}

#form__textarea{
    height: 145px;
}

.bottom__wrap{
    padding-top: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 47px;
}
.form__bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.bottom__under-row{
    
}
.form__check{
    width: 320px;
    height: 40px;
    margin-right: 20px;
    border: 2px solid #ebebeb;
}
.form__btn-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.form__btn{
    width: 208px;
    height: 66px;
    font-family: "RobotReg" , sans-serif;
    color: #fff;
    font-size: 24px;
    line-height: 75px;
    background-color: #16ba98;
    border: none;
}
.input-title{
    font-family: "RobotReg" , sans-serif;
    color: #82a6bf;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 40px;
    position: absolute;
    top: 95px;
    left: 210px;
}

